.title {
    font-size: 40px;

    .name {
     font-weight: bold;
    }
    .year {
    font-weight: lighter;  
    }
}

.content {
    .description {
     font-style: italic;
     font-size: 20px;
    }    
}