<div class="row justify-content-center" *ngIf="movie">
    <div class="col-12 mt-5">
        <mat-card>

            <!--TITLE -->
            <div class="row m-5 title">
                <div class="col">
                    <span class="name"> {{movie.title}}</span>
                    <span class="year"> ({{movie.year}})</span>
                </div>
            </div>
            
            <!-- BODY -->
            <div class="row m-5 content">

            <!-- COVER -->
                <div class="col-4 cover">
                    <img class=" img-fluid" [src]="movie.cover">
                </div>


                <!--CONTENT -->
                <div class="col-4">
                    <div class="row">

                        <!--DESCRIPTION -->
                        <div class="col-12 description">
                            "{{movie.description}}"
                        </div>
                    </div>
                </div>



            </div>


        </mat-card>
    </div>
</div>

